h1, h2, h3, h4, h5, nav {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

body {
    font-family: 'Crimson Text', serif;
}

.bold {
    font-weight: 900;
}

.container {
    padding: 30px 50px 30px 50px;
}


.nav-wrap {
    padding: 40px 10px 10px 40px;

}


.navbar-default {
    background: none; 
    border: none; 

    color: white
}


.nav {
    float: right;

}

.navbar-default .nav li {
    display: inline-block;
    color: white;
    font-size: 14px;

}

.navbar-default .nav li a {
    color: white;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:active,
.navbar-default .nav li a:focus {
    color: #333333;
    background-color: white;
}

.navbar-collapse.in li {
    /*background-color: #ddd;*/
    color: #333333;
}

.navbar-collapse.in li a {
    color: #333333;
    font-size: 2rem;
    margin-top: 3rem;
}

.navbar-collapse.in li a:hover,
.navbar-collapse.in li a:active,
.navbar-collapse.in li a:focus {
    color: black;
    background-color: rgba(221, 221, 221, 0.90);
    border: solid 1px #333333;
}
.navbar-collapse.in .navbar-nav {
    float: right;
    width: 100vw;
    background-color: rgba(221, 221, 221, 0.90);
    height: 15vh;
    text-align: center;
}

.navbar-toggle {
     border-radius: 0; 
 }


/* --------------------- social icons ----------------------*/

@font-face {
    font-family: 'si';
    src: url('assets/fonts/socicon-v1.5/socicon.eot');
    src: url('assets/fonts/socicon-v1.5/socicon.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/socicon-v1.5/socicon.woff') format('woff'),
         url('assets/fonts/socicon-v1.5/socicon.ttf') format('truetype'),
         url('assets/fonts/socicon-v1.5/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url("assets/fonts/socicon-v1.5/socicon.svg") format(svg);
    }
}

.soc {
    overflow:hidden;
    margin: 0 0 1rem 0; 
    padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    -webkit-border-radius: 66px;
    -moz-border-radius: 66px;
    border-radius: 66px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none;

    width: 48px;
    height: 48px;
    line-height: 52px;
    font-size: 30px;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
/*.soc-twitter:before {
    content:'\e040';
}*/
.soc-facebook {
    background-color: #3e5b98;
}
/*.soc-facebook:before {
    content:'\e041';
}*/
.soc-instagram {
    background-color: #405de6;
}
/*.soc-instagram:before {
    content:'\e057';
}*/

.soc-twitter:hover {
    background-color: #61bbf2;
}
.soc-facebook:hover {
    background-color: #526fac;
}
.soc-instagram:hover {
    background-color: #5471fa;
}

   

/* ---------------------------------------- */

h1 {
    font-size: 33px;
    font-weight: 700;
    letter-spacing: .78px;
    line-height: 33px;
    padding: 0 0 20px 0;
    margin: -12px 0 5px 0;
}

h3 {
    font-size: 1.8rem;
    padding-top: 2rem;

}


@media (min-width: 375px){
    h1 {
        font-size: 40px;
        letter-spacing: .85px;
        line-height: 47px;
    }
}

@media (min-width: 768px){
    h1 {
        
        font-size: 67px;
        letter-spacing: 1.43px;
        line-height: 78.3px;
    }
}

@media (min-width: 1366px){
    h1 {
       
        font-size: 75px;
        letter-spacing: 1.6px;
        line-height: 87px;
    }
}


h2 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: .78px;
    line-height: 33px;

}


@media (min-width: 375px){
    h2 {
        font-size: 30px;
        letter-spacing: .85px;
        line-height: 47px;
    }
}

@media (min-width: 768px){
    h2 {
        
        font-size: 47px;
        letter-spacing: 1.43px;
        line-height: 78.3px;
    }
}

@media (min-width: 1366px){
    h2 {
       
        font-size: 55px;
        letter-spacing: 1.6px;
        line-height: 87px;
    }
}


p, li {
    font-size: 2rem;
}


td {
    font-size: 2rem;
 }

.table tbody tr td {
     border-top: 0; 
     padding-left: 3rem;
     padding-right: 3rem;

}

tr .text-right {
    width: 40%;
}


tr .text-left {
    border-left: solid 1px white;
    width: 60%;
}

a {
    color: white;
    /*font-weight: 700;*/
}

.btn {
    margin: 25px 0 20px 0;
    padding: 15px 25px;
    color: white;
    border-color: white;
    background-color: transparent;
    display: inline-block;
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    background-color: white;
    color: #333333;
/*  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;*/
}
.btn:hover,
.btn:focus {
    background-color: white;
    color: #333333;
}
.btn:active,
.btn.active {
    background-color: white;
    color: #333333;
    -webkit-box-shadow: 0;
          box-shadow: 0;
}


.btn-black  {
    color: #333333;
    border-color: #333333;
}

.btn-black:focus,
.btn-black:active:focus,
.btn-black.active:focus {
    outline: none;
    background-color: #333333 ;
    color: #FFD204;
/*  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;*/
}
.btn-black:hover,
.btn-black:focus {
    background-color: #333333 ;
    color: #FFD204;
}
.btn-black:active,
.btn-black.active {
    background-color: #333333 ;
    color: #FFD204;
    -webkit-box-shadow: 0;
          box-shadow: 0;
}



.home-header-text {
    color: white;
    display: inline-block;
    position: absolute;

    left: 15%;
    right: 15%;
    width: 70%;
}





.logo {
    width: 40vw;
    margin-bottom: 6%;
    margin-top: -40px;
}

@media (min-width: 768px){
    .container {
        padding: 50px 100px 50px 100px;
    }

    .home-header-text {
        border-left: solid 1px white;
        padding-left: 40px;
    }

    .faq-header-text {
        padding-left: 40px;
    }

    .logo {
    width: 20vw;
    margin-top: 1vh;
    margin-bottom: 6%;

    }

}


.home-header-text p {
    color: white;
    font-size: 24px;
    line-height: 2.5rem;

}


.home-header-bg {
    display: block;
}

.bg-video-wrap {
    z-index: -100;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
/*    top: 40vh;
    left: 50vw;
    transform: translate(-50vw, -80vh);*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

}

.bg-video {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}


.bg-overlay {
    z-index: -50;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
/*    top: 40vh;
    left: 50vw;
    transform: translate(-50vw, -80vh);*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: rgba(0,0,0,0.6);
}


.blurb-wrap {
/*    top: 70%;
    height: 50%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #FFD204;*/

    height: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFD204;
    padding-bottom: 5rem;
    margin: 50vh -25px -25px;

}


.home-speaker-wrap {
    background-color: white;
    height: 100%;
    position: relative;
    margin: -25px 0 -25px;
    bottom: 0;
    left: 0;
    right: 0;
}

.home-agenda-wrap {
    background-color: #22B0AC;
    height: 100%;
    position: relative;
    margin: 0 -25px 0 -25px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}



.speaker-headshot {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.speaker-headshot p {
    text-align: center;
}


.speaker-headshot img {
    height: 150px;
    width: auto;

}


/* -------------------------- FAQ ------------------------*/


.faq-wrap {
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFD204;
    padding-bottom: 5rem;
    margin: 0 -25px -25px 0;
    z-index: -10

}


.faq-bg {
    z-index: -50;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: #22B0AC; 

}


.faq-text {
    color: white;
    display: inline-block;
    position: absolute;
    left: 15%;
    right: 15%;
    width: 70%;
    padding-bottom: 15%;
}


.faq-text p {
    color: white;

}

.faq-text a{
    padding-bottom: 0.4rem;
    border-bottom: 2px solid rgba(255, 210, 4, 1);
}

.faq-text a:hover, .faq-text a:active, .faq-text a:focus{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid rgba(255, 210, 4, 0.8);
}

/* -------------------------- sponsor ------------------------*/

.home-sponsor-wrap {
    background-color: #F0F0F0;
    height: 100%;
    position: relative;
    margin: -25px 0 -25px;
    bottom: 0;
    left: 0;
    right: 0;
}



.sponsor-logo img{
    height: 120px;
    width: auto;
    margin: 2rem 1rem 5rem 1rem;
    opacity: 1;  
}

.sponsor-logo img:hover, .sponsor-logo img:active, .sponsor-logo img:active{
    opacity: 0.6;  
}


/* -------------------------- footer ------------------------*/

.footer-nav {
    list-style: none;
    margin-left: -40px;

}

.footer-wrap {
    background-color: #333333;
    height: 100%;
    position: relative;
    margin: 0 -25px 0 -25px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;

}

.footer-wrap li, .footer-wrap p {
    font-size: 1.8rem;
    padding-top: 0.6rem;
    padding-bottom: 1rem;
}



.footer-nav li {
    display: inline-block;

}

.footer-nav li a{
    padding: 0.8rem;
}

.footer-nav li a:hover, .footer-nav li a:active, .footer-nav li a:focus{
    text-decoration: none;
    background-color: white;
    color: #333333;

}

.copyright {
    margin-top: 1rem;
}

